<div id="content" class="site-content">
        <div class="container">
            <div class="bb-grid site-content-grid">
                <div class="bb-share-container" style="">
                    <div class="bb-shareIcons jssocials">
                        <div class="jssocials-shares">
                            <div class="jssocials-share jssocials-share-facebook"><a target="_blank"
                                    @*href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemos.buddyboss.com%2Fonline-communities%2F10-tips-to-stay-healthy-when-eating-out%2F"*@
                                    href="#"
                                    class="jssocials-share-link" data-balloon-pos="right"
                                    data-balloon="Share on Facebook"><i
                                        class="fa fa-facebook jssocials-share-logo"></i><span
                                        class="jssocials-share-label">Share on Facebook</span></a></div>
                            <div class="jssocials-share jssocials-share-twitter"><a target="_blank"
                                    href="#"
                                    class="jssocials-share-link" data-balloon-pos="right" data-balloon="Tweet"><i
                                        class="fa fa-twitter jssocials-share-logo"></i><span
                                        class="jssocials-share-label">Tweet</span></a></div>
                        </div>
                    </div>
                </div>
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <article id="post-430"
                            class="post-430 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized full-fi-invert">
                            <div class="entry-content-wrap primary-entry-content">

                                <figure class="entry-media entry-img bb-vw-container1" style="margin-top:-60px;">
                                    <img width="640" height="427"
                                        src="https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850.jpg"
                                        class="attachment-large size-large wp-post-image" alt="" decoding="async"
                                        sizes="(max-width:768px) 768px, (max-width:1024px) 1024px, (max-width:1920px) 1920px, 1024px"
                                        srcset="https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850.jpg 1000w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850-600x400.jpg 600w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850-300x200.jpg 300w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850-768x512.jpg 768w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_583365850-624x416.jpg 624w">
                                </figure>

                                <header class="entry-header">
                                    <h1 class="entry-title">5 Tips to stay healthy when eating out</h1>
                                </header>

                                @*<div class="entry-meta">
                                    <div class="bb-user-avatar-wrap">
                                        <div class="avatar-wrap">
                                            <a href="https://demos.buddyboss.com/online-communities/members/john/">
                                                <img alt=""
                                                    src="https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/avatars/2/621e2ce4392dd-bpthumb.png"
                                                    srcset="https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/avatars/2/621e2ce4392dd-bpthumb.png 2x"
                                                    class="avatar avatar-80 photo" height="80" width="80"
                                                    loading="lazy"> </a>
                                        </div>
                                        <div class="meta-wrap">
                                            <a class="post-author"
                                                href="https://demos.buddyboss.com/online-communities/members/john/">
                                                John </a>
                                            <span class="post-date"><a
                                                    href="https://demos.buddyboss.com/online-communities/10-tips-to-stay-healthy-when-eating-out/">May
                                                    14, 2019</a></span>
                                        </div>
                                    </div>
                                    <div class="push-right flex align-items-center top-meta">
                                        <a href="https://demos.buddyboss.com/online-communities/10-tips-to-stay-healthy-when-eating-out/#respond"
                                            class="flex align-items-center bb-comments-wrap"><i
                                                class="bb-icon-l bb-icon-comment-square"></i><span
                                                class="comments-count">0 <span
                                                    class="bb-comment-text">Comments</span></span></a>
                                    </div>
                                </div>*@

                                <div class="entry-content">
                                    <p>In fact, always get a little bit of anxiety when I am asked to go out to eat with
                                        friends and family. Those who have strict nutrition and health goals can
                                        probably relate to this stress. However,&nbsp;going out to eat doesn’t
                                        necessarily mean that you are doomed to fall&nbsp;off the wagon.&nbsp;Today, I’m
                                        going to share some tips on how to make healthy choices when at restaurants,
                                        because YES, you deserve to be social and&nbsp;to have a good time with friends!
                                        You CAN have the best of both worlds.&nbsp;</p>
                                    <p><strong>1.</strong><strong>) Practice portion control</strong></p>
                                    <p>Restaurant portion sizes are completely ridiculous, and it can be hard not to
                                        physically&nbsp;eat everything that is front of us on our plate. In fact,
                                        most&nbsp;portions are fit to feed 2-3 people instead of just one person. This
                                        is why it is very&nbsp;important to be&nbsp;mindful about the quantity of food
                                        that is right&nbsp;front of you. A great rule of thumb is to only eat half of
                                        what is served to you on the plate, or to order an appetizer instead of a main.
                                    </p>
                                    <p><strong>2.) Opt for lots of veggies</strong></p>
                                    <p>You can never eat too many veggies!! Choose an&nbsp;entrée that is filled to the
                                        brim with&nbsp;veggies. Examples may include veggie breakfast skillets, salads,
                                        fajitas, veggie flat breads, chicken with a side of veggies, or omelets.
                                        Veggies&nbsp;are full of fiber and they also keep our blood sugar down, so we
                                        are less likely to want to indulge in the delicious high calorie foods.</p>
                                    <p><strong>3.)&nbsp;</strong><strong>Snack on something&nbsp;high-protein BEFORE you
                                            go out to eat</strong></p>
                                    <p>Before I head out, I like to snack on something high protein before I meet up
                                        with friends. This way, I am not starving when I am at the restaurant; hence I
                                        am less likely to order something unhealthy off the menu and
                                        eat&nbsp;<em>errrrything</em>&nbsp;in plain sight. This trick has really helped
                                        me practice my portion control! My favorite protein-filled snacks include
                                        hard-boiled egg whites, protein bars, or protein shakes. These are easy,
                                        low-calorie snacks that are super filling.</p>
                                    <p><strong>4.)</strong><strong>&nbsp;Drink a glass of water before your meal is
                                            served</strong></p>
                                    <p>This is another great tip that will help you greatly help you practice portion
                                        control. Water&nbsp;fills you up and will trick your mind into believing that
                                        you are more full than you really are. Also, it’s just a general rule of thumb
                                        that you should drink a glass of water before every meal.</p>
                                    <figure class="wp-block-image"><img decoding="async" loading="lazy" width="1000"
                                            height="668"
                                            src="https://demos.buddyboss.com/online-communities/wp-content/uploads/2019/05/shutterstock_438744178.jpg"
                                            alt="" class="wp-image-434"
                                            srcset="https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_438744178.jpg 1000w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_438744178-600x401.jpg 600w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_438744178-300x200.jpg 300w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_438744178-768x513.jpg 768w, https://demos.buddyboss.com/online-communities/wp-content/sandbox194307-uploads/2019/05/shutterstock_438744178-624x417.jpg 624w"
                                            sizes="(max-width: 1000px) 100vw, 1000px"></figure>
                                    <p><strong>5.) Plan out your meal before you get to the restaurant</strong></p>
                                    <p>If you are seriously trying to stick to a nutrition plan or to manage your
                                        weight, planning ahead is SO important. I always like to have a set plan of what
                                        I’m going to be eating before I get to the restaurant. Most places will have
                                        their menu online, making this possible. I find that when I stick&nbsp;to a plan
                                        that I&nbsp;made, I am&nbsp;less likely to order&nbsp;something off the
                                        menu&nbsp;impulsively.</p>
                                </div>
                            </div>
                        </article>
                        @*<div class="post-meta-wrapper-main">
                            <div class="post-meta-wrapper">
                                <div class="cat-links">
                                    <i class="bb-icon-l bb-icon-folder"></i>
                                    Categories: <span><a
                                            href="https://demos.buddyboss.com/online-communities/category/uncategorized/"
                                            rel="category tag">Uncategorized</a></span>
                                </div>
                            </div>
                            <div class="show-support">
                                <div class="flex author-post-meta">
                                    <span class="pa-share-fix push-left"></span>
                                    <a data-balloon-pos="up" data-balloon="View Comments" href="#comments"
                                        class="push-right"><i class="bb-icon-l bb-icon-comment-square"></i></a>
                                    <div class="author-box-share-wrap">
                                        <a href="#" class="bb-share"><i class="bb-icon-l bb-icon-share-dots"></i></a>
                                        <div class="bb-share-container bb-share-author-box">
                                            <div class="bb-shareIcons jssocials">
                                                <div class="jssocials-shares">
                                                    <div class="jssocials-share jssocials-share-facebook"><a
                                                            target="_blank"
                                                            href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemos.buddyboss.com%2Fonline-communities%2F10-tips-to-stay-healthy-when-eating-out%2F"
                                                            class="jssocials-share-link" data-balloon-pos="right"
                                                            data-balloon="Share on Facebook"><i
                                                                class="fa fa-facebook jssocials-share-logo"></i><span
                                                                class="jssocials-share-label">Share on
                                                                Facebook</span></a></div>
                                                    <div class="jssocials-share jssocials-share-twitter"><a
                                                            target="_blank"
                                                            href="https://twitter.com/share?url=https%3A%2F%2Fdemos.buddyboss.com%2Fonline-communities%2F10-tips-to-stay-healthy-when-eating-out%2F&amp;text=10%20Tips%20to%20stay%20healthy%20when%20eating%20out%20%E2%80%93%20Online%20Communities"
                                                            class="jssocials-share-link" data-balloon-pos="right"
                                                            data-balloon="Tweet"><i
                                                                class="fa fa-twitter jssocials-share-logo"></i><span
                                                                class="jssocials-share-label">Tweet</span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </main>
                </div>
            </div>
        </div>
    </div>