<form action="" method="post" id="ac-form-194574"
      class="ac-form events-initiated" style="display: block;">

    <div class="bp-ac-form-cotainer">

        <div class="ac-reply-avatar">
            <img src=""
                 class="avatar user-2-avatar avatar-150 photo" width="150" height="150" alt="Profile photo of John">
        </div>

        <div class="ac-reply-content">
            <div class="ac-textarea">
                <label for="ac-input-194574" class="bp-screen-reader-text">
                    Comment
                </label>
                <div contenteditable="true" id="ac-input-194574" class="ac-input bp-suggestions"
                     name="ac_input_194574"></div>


                <input type="hidden" name="comment_form_id" value="194574">

                <input type="submit" name="ac_form_submit" value="Post"><input type="hidden"
                                                                               id="_wpnonce_new_activity_comment" name="_wpnonce_new_activity_comment"
                                                                               value="1f2b66777e"><input type="hidden" name="_wp_http_referer"
                                                                                                         value="/online-communities/wp-admin/admin-ajax.php">&nbsp; <button type="button"
                                                                                                                                                                            class="ac-reply-cancel">
                    Cancel
                </button>
            </div>

        </div>
</form>